
.Rhistory

.Rproj.user/BC4C44B8/build_options

*.pper

.Rproj.user/BC4C44B8/persistent-state

.Rproj.user/BC4C44B8/saved_source_markers

.Rproj.user/BC4C44B8/sdb/prop/10901BCF

.Rproj.user/BC4C44B8/sdb/prop/11A713E5

.Rproj.user/BC4C44B8/sdb/prop/12C511DA

.Rproj.user/BC4C44B8/sdb/prop/125B7376

.Rproj.user/BC4C44B8/sdb/prop/157822BB

.Rproj.user/BC4C44B8/sdb/prop/15F7410

.Rproj.user/BC4C44B8/sdb/prop/1617FBAF

.Rproj.user/BC4C44B8/sdb/prop/INDEX

.Rproj.user/BC4C44B8/sdb/prop/FF447C57

.Rproj.user/BC4C44B8/sdb/prop/FFC66B06
