# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
# RStudio files
.Rproj.user/
.Rproj.user
*.Rproj
analyze.stuff.Rproj
*.log
.Rd2pdf27655/Rd2.idx
*.ind
.Rd2pdf27655/Rd2.ilg
*.Rproj
*.Rproj
*.Rproj
analyze.stuff.Rproj
.Rprofile
*.Rproj
*.Rproj

.Rd2pdf5017/Rd2.tex

*.Rproj

*.Rproj

*.Rproj

*.history

*.Rproj

*.Rproj

analyze.stuff.Rproj

*.Rproj

*.Rd
*.Rhistory
*.Rproj
*.Rproj
